 #todo_table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 60%;
  }

  #todo_table td, #todo_table th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #todo_table tr:nth-child(even){background-color: #f2f2f2;}

  #todo_table tr:hover {background-color: #ddd;}

  #todo_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }